@model Visitor.Main.ViewModels.VisitorViewModel

<div id="visitorFields" class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="visitorModal">Visitor Information</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            @Html.LabelFor(model => model.LastName, new { @class = "control-form-label rilv-input-label", @for = "LastName" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm last-name required-visitor-field visitor-validate check-change", placeholder = "Enter Last Name (Required)" })
            @Html.HiddenFor(model => model.LastName, new { @class = "hiddenLastName" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-form-label rilv-input-label", @for = "FirstName" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm first-name required-visitor-field visitor-validate check-change", placeholder = "Enter First Name (Required)" })
            @Html.HiddenFor(model => model.FirstName, new { @class = "hiddenFirstName" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.MiddleName, new { @class = "control-form-label rilv-input-label", @for = "MiddleName" })
            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control input-sm middle-name required-visitor-field visitor-validate check-change", placeholder = "Enter Middle Name" })
            @Html.HiddenFor(model => model.MiddleName, new { @class = "hiddenMiddleName" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-form-label rilv-input-label", @for = "EmailAddress" })
            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control input-sm email-address required-visitor-field visitor-validate check-change", placeholder = "Enter Email Address" })
            @Html.HiddenFor(model => model.EmailAddress, new { @class = "hiddenEmailAddress" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Occupation, new { @class = "control-form-label rilv-input-label", @for = "Occupation" })
            @Html.TextBoxFor(model => model.Occupation, new { @class = "form-control input-sm occupation required-visitor-field visitor-validate check-change", placeholder = "Enter Occupation" })
            @Html.HiddenFor(model => model.Occupation, new { @class = "hiddenMOccupation" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.CurriculumVitae, new { @class = "control-form-label rilv-input-label", @for = "CurriculumVitae" })
            <input type="file" id="CurriculumVitae" name="CurriculumVitae">
        </div>
        @Html.HiddenFor(model => model.VisitorId)
        @Html.HiddenFor(model => model.RequestId)
        @Html.HiddenFor(model => model.Index)
        @Html.HiddenFor(model => model.ForAddition)
    </div>
    <div id="visitor-addupdate-footer" class="modal-footer"></div>
</div>