
@using Visitor.Main.Helpers;
@using Visitor.Main.ViewModels;
@using Visitor.Core;

@model VisitorRequestViewModel

@{
    ViewBag.Title = "Visitor Details";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Visitor Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Visitor Request</a></li>
            <li class="active">Visitor Details</li>
        </ol>
    </section>
    <section class="content">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border rilv-header-color">
                        <h3 class="box-title"><b>Create: </b> Visitor Details</h3>
                    </div>
                    @using (Html.BeginForm("CreateVisit", "Visitor", FormMethod.Post, new { @class = "visitorCreation-form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true)
                        <!-- Start of Visitor Form -->
                        <div>
                            @Html.HiddenFor(model => model.RequestId, new { htmlAttributes = new { @id = "selectedvisitorId-field" } })
                            @Html.HiddenFor(model => model.RequestorId)
                            @Html.HiddenFor(model => model.Requestor)
                        </div>
                        <div class="box-body">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Company, new { @class = "control-form-label col-md-3 col-lg-2 rilv-input-label" })
                                <div class="col-md-8 col-lg-9">
                                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Company" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Requestor, new { @class = "control-form-label col-md-3 col-lg-2 rilv-input-label" })
                                <div class="col-md-8 col-lg-9 rilv-static-text">
                                    <span>@Html.DisplayTextFor(model => model.Requestor)</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Purpose, new { @class = "control-form-label col-md-3 col-lg-2 rilv-input-label" })
                                <div class="col-md-8 col-lg-9 rilv-static-text">
                                    <span>@Model.Purpose.DisplayName().ToString()</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-3 col-lg-2 rilv-input-label" })
                                <div class="col-md-8 col-lg-9 rilv-input-field">
                                    @Html.EnumDropDownListFor(m => m.Category, "", new
                                    {
                                        @class = "form-control input-sm"
                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.VisitDate, new { @class = "control-form-label col-md-3 col-lg-2 rilv-input-label" })
                                <div class="col-md-8 col-lg-9  rilv-input-field">
                                    <div id="visitor-arrival" class="input-group date">
                                        @Html.TextBoxFor(model => model.VisitDate, new
                                        {
                                            @Value = Model.VisitDate.ToString("MMM-dd-yyyy"),
                                            @class = "form-control input-sm date-filter white-readonly-background",
                                            @readonly = "readonly"
                                        })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Visitors -->
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Visitors, new { @class = "control-form-label col-md-3 col-lg-2 rilv-input-label" })
                                <div class="col-md-8 col-lg-9 rilv-input-field">
                                    <div class="box box-solid box-table-default">
                                        <div class="box-header with-border rilv-panel-color">
                                            <h3 class="box-title">Visitors</h3>
                                            <div class="box-tools pull-right">
                                                <!-- Collapse Button -->
                                                <button id="visitor-creation-btn" type="button" class="btn btn-box-tool" data-toggle="tooltip" data-placement="left" title="Add Visitor">
                                                    <i class="fa fa-plus-circle" style="color:#000000"></i>
                                                </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus" style="color:#000000"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div id="visitor-creation-modal" class="modal fade alert" role="dialog" data-backdrop="static" data-creationurl=@Url.Action("AddVisitor") data-posturl=@Url.Action("UpdateVisitor")>
                                                    <div id="visitor-modal-container" class="modal-dialog">
                                                        <!-- Modal here -->
                                                        @Html.Partial("_VisitorDetails", new VisitorViewModel { ForAddition = true })
                                                    </div>
                                                </div>
                                                <div id="visitor-creationList" class="panel-group" role="tablist" aria-multiselectable="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="box-group pull-right">
                                <input id="visitorCreation-ok-btn" type="submit" value="Create" class="btn btn-primary" />
                                <input id="visitorCreation-cancel-btn" type="button" value="Cancel" class="btn btn-danger" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
@Scripts.Render("~/bundles/visitor-js")
<!-- /.content-wrapper -->